{% extends "base.html" %}
{% block content %}
    <div class="home">
        <h2>Bem-vindo</h2>
        <p>
            Seja bem-vindo ao site do NTO Anime!
        </p>
        <p>Servidor criado em 2013, porém retornando agora em 2025. Vamos trabalhar com tudo para dar uma ótima diversão.</p>
        <p> Venha se aventurar nessa nova história. Clique <a href="https://drive.google.com/file/d/1xxbHgeFhg08S_KuAiv4M3z5XMacIPa2H/view?usp=sharing">aqui</a> para baixar o client do jogo.</p>
    </div>
{% endblock %}