{% extends "base.html" %}
{% block title %}Logout - {%endblock%}
{% block style %}
    div.logout {
        background-color: rgb(255,210,150);
        max-width: 800px;
        margin: auto;
        padding: 8px;
        min-height: 600px;
        border: 8px solid rgb(255,200,0);
    }
{% endblock %}
{% block content %}
    <div class="logout">
        <h1>Logout</h1>
        <button onclick="location.href='/account/'">Login</button>
    </div>
    <script>

    </script>
{% endblock %}